:root {
    --clr-primary: #207c60;
    --clr-white: #FBFBFB;
    --clr-black: #383838;
    --clr-light-grey: #e2e2e2;
    --clr-light-primary: #43907916;
    --clr-grey: #7e7e7e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--clr-white);
    font-family: 'Poppins', sans-serif;
}

button:hover, a:hover {
    cursor: pointer;
}

h3 {
    color: var(--clr-black);
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.container {
    margin: 0 auto;
    max-width: 950px;
    width: 90%;
    margin-bottom: 4rem;
}

/* header */
.header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--clr-primary);
}

.headerItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 950px;
    width: 90%;
}

.header__hamburger {
    cursor: pointer;
}

.header__logoWrapper {
    display: flex;
    align-items: center;
}

.header__logo {
    height: 22px;
}



.header__mobileLinks {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--clr-primary);
    z-index: 69;
    color: var(--clr-white);
    padding-top: 5rem;
}

.header__mobileLink {
    display: block;
    padding: 1.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: var(--spacing-s);
    cursor: pointer;
}

.header__mobileLink a {
    color: var(--clr-white);
    text-decoration: none;
}

.header__mobileLinks--active {
    display: block;
}

.header__mobileLinks--close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
}

.header__links {
    display: none;
    align-items: center;
    justify-content: space-between;
}

.header__link {
    display: flex;
    align-items: center;
    color: var(--clr-white);
    cursor: pointer;
    text-decoration: none;
    margin-left: 3rem;
    list-style-type: none;
    font-size: 1.25rem;
    text-align: right;
}

.header__link > * {
    display: flex;
    align-items: center;
}

.header__link a {
    color: var(--clr-white);
    text-decoration: none;
}

.pageTitle {
    font-size: 2.5rem;
    color: var(--clr-black);
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.allProducts__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
}

.allProducts__listItem {
 
    background-color: white;
    box-shadow: 3px 3px 20px -5px rgba(58, 107, 93, 0.15);
    border-radius: 2rem;
    list-style-type: none;
    max-width: 600px;
    border: 1px solid rgb(234, 234, 234);
}

.allProduct__listItem--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

.allProducts__listItem--info {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allProducts__listItem--owner {
    color: var(--clr-white);
    padding: 0.75rem;
    font-size: 1.5rem;
    background-color: #2d2d2d95;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 1rem;
}

.allProducts__listItem--owner > a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.allProducts__listItem--owner:hover {
    cursor: pointer;
}

.allProducts__listItem--figure {
    width: 100%;
    height: 25vh;
    position: relative;
}

.allProducts__listItem--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.allProducts__listItem--title {
    color: var(--clr-black);
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.allProducts__listItem--description {
    color: var(--clr-grey);
    margin-bottom: 0.75rem;
}

.maxLendTime {
    color: var(--clr-primary);
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.categoryItem {
    background-color: rgba(43, 170, 130, 0.025);
    border: 1px solid var(--clr-primary);
    padding: 0.25rem 0.75rem;
    margin-top: .75rem;
    font-size: 1.35rem;
    color: var(--clr-primary);
    margin-bottom: .75rem;
    border-radius: 0.75rem;
    display: inline-block;
}

.primaryButton {
    margin-top: 1rem;	
    background-color: var(--clr-primary);
    color: var(--clr-white);
    padding: 1.2rem;
    border: none;
    border-radius: 0.75rem;
    font-size: 1.75rem;
    font-weight: 600;
    box-shadow: 3px 3px 29px -14px rgba(0, 0, 0, 0.30);
    transition: 0.2s all;
    width: 100%;
    text-decoration: none;
}

.primaryButton:hover {
    box-shadow: 3px 3px 29px -14px rgba(0, 0, 0, 0.65);
}

.secondaryButton {
    margin-top: 1rem;
    background-color: transparent;
    color: var(--clr-primary);
    padding: 1.2rem;
    border: 1px solid var(--clr-primary);
    border-radius: 0.75rem;
    font-size: 1.75rem;
    font-weight: 600;
    box-shadow: 3px 3px 29px -14px rgba(0, 0, 0, 0.30);
    transition: 0.2s all;
    width: 100%;
    text-decoration: none;
}

.disabledButton {
    background-color: rgb(168, 168, 168);
    color: var(--clr-white);
    padding: 1.2rem;
    border: none;
    border-radius: 0.75rem;
    font-size: 1.75rem;
    font-weight: 600;
    box-shadow: 3px 3px 29px -14px rgba(0, 0, 0, 0.30);
    transition: 0.2s all;
    width: 100%;
    text-decoration: none;
}

.disabledButton:hover {
    cursor: not-allowed;
}

/* one product */

.breadCrumbs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 2rem;
}


.oneProduct__content {
    margin: 0 auto;
    max-width: 500px;
}

.oneProduct__figure {
    width: 100%;
    height: 25vh;
    margin-bottom: 2rem;
}

.oneProduct__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.oneProduct__title {
    color: var(--clr-black);
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.oneProduct__description {
    margin-bottom: 2rem;
    color: var(--clr-grey);
}

.oneProduct__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.oneProduct__productOwner {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    border: 1px solid rgb(231, 231, 231);
    box-shadow: 3px 3px 20px -5px rgba(58, 107, 93, 0.05);
    padding: 0.5rem;
    border-radius: 0.75rem;
    transition: 0.2s all;
    text-decoration: none;
}

.oneProduct__productOwner:hover {
    cursor: pointer;
}


.oneProduct__productOwner--details {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    color: var(--clr-black);
    line-height: 18px;
}

.formContainer {
    margin: 0 auto;
    max-width: 500px;
    margin-top: 5%;
}

.formCard {
    background-color: var(--clr-white);
    box-shadow: 3px 3px 20px -5px rgba(58, 107, 93, 0.45);
    padding: 2rem;
    border-radius: 1.5rem;
    max-width: 800px;
}

.formCard__title {
    display: inline;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    margin-left: 0.6rem;
}

.formCard label {
    font-size: 1.5rem;
    color: var(--clr-grey);
    margin-bottom: 0.5rem;
    display: block;
}

.formCard__secondaryAction {
    text-decoration: none;
    color: var(--clr-primary);
}

.formCard__secondaryAction:hover {
    text-decoration: underline;
}


.formCard__textInput {
    border: 1px solid var(--clr-grey);
    border-radius: 0.75rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: var(--clr-grey);
    width: 100%;
    margin-bottom: 1rem;
}

.formCard__backBtn {
    font-size: 25px;
    display: inline;
    transition: 0.2s all;
}

.formCard__backBtn:hover {
    transform: translateX(-3px);
    cursor: pointer;
}

.formCard__inputGroup {
    margin-top: 1rem;
}

.formCard__inputGroup:first-child {
    margin-top: 2rem;
}

.userProfile__userInfoWithIcon {
    display: flex;
    align-items: center;
    gap: 0.9rem;
}

.userProfile__userInfoTitle {
color: var(--clr-black);
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.userProfile__userInfo {
    display: block;
}

.userProfile__userName {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    gap: 0.75rem;
}

.userProfile__subTitle {
    color: var(--clr-black);
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-transform: capitalize;
    margin-top: 4rem;
}


.allRatings__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.reviewCard__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.75rem;
}

.reviewCard__stars {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 1.75rem;
    color: var(--clr-primary);
    font-weight: 500;
}

.reviewCard {
    background-color: var(--clr-white);
    box-shadow: 3px 3px 20px -5px rgba(58, 107, 93, 0.15);
    padding: 2rem;
    border-radius: 1.5rem;
    width: 100%;
}

a, a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

.reviewCard__reviewer {
    background-color: var(--clr-light-primary);
    padding: 0.75rem;
    color: var(--clr-primary);
    border-radius: 0.75rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.reviewCard__reviewer:hover {
    cursor: pointer;
    text-decoration: underline;
}

.myProducts__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.myLendRequests__title {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.myProducts__addBtn {
    background-color: transparent;
    color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
    border-radius: 0.75rem;
    font-size: 1.5rem;
    font-weight: 400;
    box-shadow: 3px 3px 29px -14px rgba(0, 0, 0, 0.15);
    transition: 0.2s all;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
}

.myProducts__addBtn:hover {
    box-shadow: 3px 3px 29px -14px rgba(0, 0, 0, 0.4);
}

.myLendRequestCards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

.myCurrentLendsCard {
    background-color: var(--clr-white);
    box-shadow: 3px 3px 20px -5px rgba(58, 107, 93, 0.25);
    padding: 2rem;
    border-radius: 1.5rem;
}

.u-text-link {
    text-decoration: none;
    background-color: var(--clr-light-primary);
}

.u-text-link:hover {
    text-decoration: underline;
}

.myCurrentLendsCard__title {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.myCurrentLendsCard__text {
    margin-bottom: 1rem;
}

/* utility classes */

.u-hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--clr-white);
}

.u-hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--clr-white);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.u-card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.u-hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


@media screen and (min-width: 650px) {
   

    .oneProduct__title {
        margin-top: 3rem;
    }

    .oneProduct__figure {
        height: 40vh;
    }

    .myLendRequestCards {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 750px) {


    .allProducts__list {
        grid-template-columns: 1fr 1fr;
    }

    .u-card-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 950px) {

    .header__hamburger {
        display: none;
    }

    .header__links {
        display: flex;
    }

}